/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }
body{
    background-image: url(imagem\ background.avif);
    background-repeat: no-repeat, repeat-x;
    background-size: 1600px 800px;

}
.content {
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
}
h1{
    font-size: 48px;
    color: #38ca90;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom:  30px;
}
h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height:  2px;
    margin-top:  10px;
    background: -webkit-linear-gradient(left, rgba(147, 189, 157, 0) 0%,rgba(147, 189, 159, 0.8) 20%,rgb(147, 189, 155) 53%,rgba(147, 189, 148, 0.8) 79%,rgba(149, 189, 147, 0) 100%); 
    background: linear-gradient(left, rgba(147, 189, 152, 0) 0%,rgba(153, 189, 147, 0.8) 20%,rgb(149, 189, 147) 53%,rgba(151, 189, 147, 0.8) 79%,rgba(151, 189, 147, 0) 100%); 

}
p{
    margin-top: 15px;
}
.content p:first-child{
    margin: 0px;
}
label{
    color: #406045;
    position: relative;
}
/* placeholder */
::-webkit-input-placeholder {
    color:#7d8c7f;
    font-style: italic;
}
input :-moz-placeholder,textarea:-moz-placeholder{
    color: #bcbebc;
    font-style: italic;
}
input {
    outline:  none;
}
input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;

    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
input[type="submit"]{
    width: 100%;
    cursor: pointer;
    background: rgb(110, 187, 110);
    padding: 8px 5px;
    color:  #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;

    border-radius: 5px;
    transition: all 0.2s linear;
}
input[type="submit"]:hover{
    background: #26c01b;
}
.link{
    position: absolute;
    background: #e1eaeb;
    color: #7c7f7d;
    left: 0px;
    height: 28px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    border-radius: 0 0 5px 5px;
}
.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color:  #38ca90;
    margin-left: 10px;
    border: 10;


}
.link a:hover {
    color: rgb(62, 193, 29);
}